@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Custom Error";
}


   <h1>MVC Error</h1>
        Controller: @Model.ControllerName <br />
        Action: @Model.ActionName <br />
        Message: @Model.Exception.Message   
        The page is not available. Click to go back to Photo List.
        <p>@Html.ActionLink("Back to Photo List", "Index")</p>          



