@{
    ViewBag.Title = "Welcome Photo Sharing Website";
}


        <p>Welcome ! Use this site to share your vacation Pictures.</p>

        <h2>Latest Photos</h2>

       @Html.Action("_PhotoGallery", "Photo", new { number = 3})

 





